compile_commands.json
.ccls-cache/
.vscode/.cortex-debug.*

.vscode/.cortex-debug.registers.state.json

.vscode/.cortex-debug.peripherals.state.json
core
build/coverage
*.pyc
callgraph.dot*
build/coverage.xml
app/brewblox-esp/build/
app/brewblox-esp/main/wifi_creds.h
app/brewblox-esp/sdkconfig.old
app/brewblox-esp/main/network/wifi_creds.h
app/brewblox-esp-chemsense/*