[submodule "lib/cnl"]
	path = lib/cnl
	url = https://github.com/johnmcfarlane/cnl.git
	branch = develop
[submodule "platform/spark/device-os"]
	path = platform/spark/device-os
	url = https://github.com/particle-iot/device-os.git
	branch = brewblox
[submodule "blox/proto"]
	path = brewblox/blox/proto
	url = https://github.com/BrewBlox/brewblox-proto.git
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = git@github.com:lvgl/lvgl.git
[submodule "app/brewblox-esp/components/lvgl"]
	path = app/brewblox-esp/components/lvgl
	url = git@github.com:lvgl/lvgl.git
