[submodule "lib/cnl"]
	path = lib/cnl
	url = https://github.com/johnmcfarlane/cnl.git
	branch = develop
[submodule "platform/spark/device-os"]
	path = platform/spark/device-os
	url = https://github.com/particle-iot/device-os.git
	branch = brewblox
[submodule "app/brewblox/proto"]
	path = app/brewblox/proto
	url = https://github.com/BrewBlox/brewblox-proto.git
[submodule "platform/esp/externals/smooth"]
	path = platform/esp/externals/smooth
	url = https://github.com/PerMalmberg/Smooth.git
